<html>

<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<div class="container">
<div class="row">
  <div class="col">
<div id="myPreferences" class="text-center">
  <div class="form-edit">
    <ng-container *ngIf="isManager">
      <h1 class="h3 mb-3 fw-normal">Update Trip</h1>
    </ng-container>
    <ng-container *ngIf="!isManager">
      <h1 class="h3 mb-3 fw-normal">Trip Info</h1>
    </ng-container>
    <div id="error">
    </div>


    
    <form #tripUpdateForm="ngForm">
      <div class="form-floating">
          <input type="text" required #tripNameControl = "ngModel" class="form-control" 
            [class.is-invalid] = "tripNameControl.invalid && tripNameControl.touched"
            id="tripNameinput" placeholder="Trip Name" name = "tripName"[(ngModel)]="tripName">
            <small class="text-danger" [class.d-none]="tripNameControl.valid || tripNameControl.untouched">Enter a trip name</small>
          <label for="floatingInput">Trip Name</label>
      </div>
      <h1 class="h5 mb-3 fw-normal">Origin</h1>
      <div class="form-group">
        <div class="col-50">
          <label for="originAdr"><i class="fa fa-address-card-o"></i> Address</label>
          <input type="text" id="originAdr" class="form-control" required pattern="[a-zA-Z0-9 ]+$" 
            #streetControl = "ngModel" [class.is-invalid]="streetControl.invalid && streetControl.touched"
            name="address" placeholder="542 W. 15th Street" [(ngModel)]="originStreetAddress">
          <small class="text-danger" [class.d-none] = "streetControl.valid || streetControl.untouched">Please enter Street Address</small>
          
          <label for="city"><i class="fa fa-institution"></i> City</label>
          <input type="text" id="originCity" class="form-control" required pattern="[a-zA-Z ]+$" 
            #cityControl="ngModel" [class.is-invalid]="cityControl.invalid && cityControl.touched"
            name="city" placeholder="New York" [(ngModel)]="originCity">
          <small class="text-danger" [class.d-none] = "cityControl.valid || cityControl.untouched">Please enter City or Town name</small>
        
        
          <div class="row">
            <div class="col-50">
              <div class="form-group">
                <label for="state">State</label>
                <select class="custom-select" id="originState" placeholder="State" required pattern="^\w{2}$" name = "state" placeholder="NY" [(ngModel)]="originState"
                  #stateControl="ngModel" [class.is-invalid]="stateControl.invalid && stateControl.touched">
                  <option value = "">State</option>
                  <option *ngFor="let state of stateArr">{{ state }}</option>
                </select>
                <small class="text-danger" [class.d-none] = "stateControl.valid || stateControl.untouched">Please select a state</small>
              </div>
            </div>

            <div class="col-50">
              <div class="form-group">
                <label for="zip">Zip</label>
                <input type="text" id="originZip" name="zip" required pattern="^\d{5}$" #zipControl="ngModel"
                  [class.is-invalid]="zipControl.invalid && zipControl.touched"
                  class="form-control" placeholder="00000" [(ngModel)]="originZip">
                <small class="text-danger" [class.d-none] = "zipControl.valid || zipControl.untouched">Please enter a valid zip code</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1 class="h5 mb-3 fw-normal">Destination</h1>
      <div class="form-group">
        <div class="col-50">
          <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
          <input type="text" id="desAdr" class="form-control" required pattern="[a-zA-Z0-9 ]+$" 
            #desStreetControl = "ngModel" [class.is-invalid]="desStreetControl.invalid && desStreetControl.touched"
            name="desAddress" placeholder="542 W. 15th Street" [(ngModel)]="desStreetAddress">
          <small class="text-danger" [class.d-none] = "desStreetControl.valid || desStreetControl.untouched">Please enter Street Address</small>
          
          <label for="city"><i class="fa fa-institution"></i> City</label>
          <input type="text" id="desCity" class="form-control" required pattern="[a-zA-Z ]+$" 
            #desCityControl="ngModel" [class.is-invalid]="desCityControl.invalid && desCityControl.touched"
            name="desCity" placeholder="New York" [(ngModel)]="desCity">
          <small class="text-danger" [class.d-none] = "desCityControl.valid || desCityControl.untouched">Please enter City or Town name</small>
        
        
          <div class="row">
            <div class="col-50">
              <div class="form-group">
                <label for="state">State</label>
                <select class="custom-select" id="desState" placeholder="State" required pattern="^\w{2}$" name = "desState" placeholder="NY" [(ngModel)]="desState"
                  #desStateControl="ngModel" [class.is-invalid]="desStateControl.invalid && desStateControl.touched">
                  <option value = "">State</option>
                  <option *ngFor="let state of stateArr">{{ state }}</option>
                </select>
                <small class="text-danger" [class.d-none] = "desStateControl.valid || desStateControl.untouched">Please select a state</small>
              </div>
            </div>

            <div class="col-50">
              <div class="form-group">
                <label for="zip">Zip</label>
                <input type="text" id="desZip" name="desZip" required pattern="^\d{5}$" #desZipControl="ngModel"
                  [class.is-invalid]="desZipControl.invalid && desZipControl.touched"
                  class="form-control" placeholder="00000" [(ngModel)]="desZip">
                <small class="text-danger" [class.d-none] = "desZipControl.valid || desZipControl.untouched">Please enter a valid zip code</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-floating">
          <input type="text" class="form-control" name="tripManager" placeholder="Trip Manager" [(ngModel)]="tripManager" readonly>
          <label for="floatingInput">Trip Manager</label>
      </div>

      <br>

      <ng-container *ngIf="isManager">
      <div class="form-floating">
          <input type="number" class="form-control" name = "passenger"placeholder="Trip Name" [(ngModel)]="userId">
          <label for="floatingPassword">Passenger ID number</label>
          <button style = "background-color: blue;display:inline;" class = "w-80 btn btn-lg btn-dark" type="input" (click)='addPassenger()'>Add</button>
          <button style = "background-color: red;display: inline;" class="w-80 btn btn-lg btn-dark" type="input" (click)='removePassenger()'>Remove</button>
        </div>

        <br>

        <div class="form-group">
          <div class="form-floating">
            <input required #startControl="ngModel" type="datetime-local" [min]="currDate" id="trip-start-time"
              [class.is-invalid]="startControl.invalid && startControl.touched"
              name="trip-start-time" [(ngModel)]="startTime">
          </div>
          <div>
            <small class="text-danger" [class.d-none]="startControl.valid || startControl.untouched">enter a start date and time</small>
            <label for="trip-start-time">Choose a start time for your trip:</label>
          </div>
  
          <div class="form-floating">
            <input required #endControl="ngModel" type="datetime-local" [min]="currDateEnd" id="trip-end-time" 
              [class.is-invalid]="endControl.invalid && endControl.touched"
              name="trip-end-time" [(ngModel)]="endTime">
          </div>
          <div>
            <small class="text-danger" [class.d-none]="endControl.valid || endControl.untouched">enter an end date and time</small>
            <label for="trip-end-time">Choose an end time for your trip:</label>
          </div>
        </div>

  </ng-container>
<br> <hr>
<!-- playlist -->






</form>
</div>


<div class="col-5">
  
  <ng-container *ngIf="isPlaylist">
    <p>your current spotify playlist: <a href="{{curSpotify}}" target="_blank"> playlist </a></p> 
  </ng-container>


  <form #playlistForm = "ngForm">
  <ng-container *ngIf="isManager">
<div class="form-group">
  <div class="form-floating">
    <input type="text" pattern="^.*open.spotify.com/.*" #newSpotifyControl = "ngModel"  class="form-control" 
          id="newSpotifyInput" placeholder="submit a playlist" name = "newSpotify" [(ngModel)]="newSpotify">
        <small class="text-danger" [class.d-none]="newSpotifyControl.valid">not a propper spotify playlist link</small>
        <label for="floatingInput">Enter New Playlist</label>
  </div>
</div>
  </ng-container> 
</form>


<ng-container *ngIf="!addRoles">
    <h2 id="MyTripHeader" class="h3 mb-3 fw-normal">Current Passengers</h2>
    <div id="MyTrip" class="text-center">

      <table>
        <thead>
          <tr>
            <th scope='col'>Name</th>
            <ng-container *ngIf="isRoles">
              <th scope='col'>Role</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <!-- populates table with data from passengers -->
          <tr *ngFor="let row of passengers">
            <td>{{row.firstName}} {{row.lastName}}</td>
            <ng-container *ngIf="isRoles">
               
                <td>data to be added later</td> 
                 <!--something like {{ row.userRole }}, user role does not currently exist in modles or db  -->
              
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
    <br>

    <ng-container *ngIf="isManager">
    <button class="w-100 btn btn-lg btn-secondary" id="rolesBtn" type="input" (click)="addRolesbtn()">add/updae Roles</button>
  </ng-container>
    <br>
    <br>
    <!-- add in passenger roles info-->
    <ng-container *ngIf="addRoles">

      <form #passengerRoleForm="ngForm"> 
        <div id="MyTrip" class="text-center">
          
          <table>
            <thead>
              <tr>
                <th scope='col'>user Id</th>
                <th scope='col'>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Navigator</td>
                <td>
                  <select class="custom-select" id="navIndex" placeholder="Passenger" name = "navIndex" [(ngModel)]="navIndex"
                  #navIndexControl="ngModel">
                  <option value = "">Passenger</option>
                  <option *ngFor="let passenger of passengers;index as i" value="{{i}}">{{ passenger.firstName }} {{ passenger.lastName }}</option>
                </select>
                </td>
              </tr>
              <tr>
                <td>Music</td>
                <td>
                  <select class="custom-select" id="musicIndex" placeholder="Passenger" name = "musicIndex" [(ngModel)]="musicIndex"
                  #musicIndexControl="ngModel">
                  <option value = "">Passenger</option>
                  <option *ngFor="let passenger of passengers;index as i" value="{{i}}">{{ passenger.firstName }} {{ passenger.lastName }}</option>
                </select>
                </td>
              </tr>
              <tr>
                <td>Snacks</td>
                <td>
                  <select class="custom-select" id="snackIndex" placeholder="Passenger" name = "snackIndex" [(ngModel)]="snackIndex"
                  #snackIndexControl="ngModel">
                  <option value = "">Passenger</option>
                  <option *ngFor="let passenger of passengers;index as i" value="{{i}}">{{ passenger.firstName }} {{ passenger.lastName }}</option>
                </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </form>
  </ng-container> 
  <hr>

<img src="{{imageOrigin}}" class="weatherIcon1"> 
  <img src="{{imageDest}}" class="weatherIcon2">

  <div>
  <!-- put weather here !!!!!!!!-->
    
    
  <table class="originWeatherTable">
    
    <thead>
        <tr>
            <th scope="col" class="a">Detail</th>
            <th scope="col" class="a">Origin Weather</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of currWeather | keyvalue">
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
        </tr>
        
      </tbody>
</table>

  <table class="originWeatherTable2">
  
    <thead>
        <tr>
            <th scope="col" class="a">Destination Weather</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of destWeather | keyvalue">
            <td>{{item.value}}</td>
        </tr>
        
      </tbody>
</table>

    
  </div>




  </div>
  
</div>
</div>

</div><!--1st row tag  -->
  <!-- new col -->

  <div class="row justify-content-md-center">


    <div id="map" class="map"></div>
    <!--Control that will hold the map-->

</div>

    <div class="checkbox mb-3">
    </div>
    <ng-container *ngIf="isManager">
      <button [disabled]="tripUpdateForm.form.pristine" class="w-100 btn btn-lg btn-primary" type="input" (click)="tripUpdateForm.form.markAsPristine()" (click)='reset()'>Reset</button>
      <br><br>
      <button [disabled]="tripUpdateForm.form.invalid" class="w-100 btn btn-lg btn-primary" id="updateBtn" type="input" (click)="updateTrip()">Update</button>
    </ng-container>
   
</div>
<div id='sidebar'>
  
</div>

</html>