<body>
<h2>Current Trips</h2>
<div class="table-responsive">
<table class="center table" table cellpadding="10" aria-describedby="table that shows general information about the trip">
  <thead>
    <tr>
      <th scope="col">Trip Name</th>
      <th scope="col">Trip Origin</th>
      <th scope="col">Trip Destination</th>
      <th scope="col">Trip Manager</th>
      <th scope="col">Passengers</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Origin Weather</th>
      <th scope="col">Destination Weather</th>
    </tr>
  </thead>

  <tbody>
  <!-- populates table with datat from trips lists -->
  <tr *ngFor="let row of currentTrips"  class="clickRow">
    <td (click)="openTrip(row)" >{{row.tripName}}</td>
    <td (click)="openTrip(row)">{{row.origin}}</td>
    <td (click)="openTrip(row)">{{row.destination}}</td>
    <td (click)="openTrip(row)">{{row.manager?.firstName + " " + row.manager?.lastName}}</td>
    <td (click)="openTrip(row)"><ng-container *ngFor="let pass of row.passengers; let i = index">
      {{pass.firstName}} {{pass.lastName}}<ng-container *ngIf="!(i == row.passengers.length-1)">,</ng-container>
    </ng-container></td>
    <td (click)="openTrip(row)">{{row.startTime | date:'medium'}}</td>
    <td (click)="openTrip(row)">{{row.endTime | date:'medium'}}</td>
    <td class="icon"><img src="assets/Weather_Icon/{{row.originIcon}}" class="img" (click)="open(content,row.origin,row.startTime)" alt="an icon showing the weather from origin"></td>
    <td><img src="assets/Weather_Icon/{{row.destinationIcon}}" class="img" (click)="open2(content,row.destination,row.endTime)" alt="an icon showing the weather from destination"></td>
  </tr>
</tbody>
</table>
</div>
<br><br>
<h2>Future Trips</h2>
<div class="table-responsive">

<table class="center table" table cellpadding="10" aria-describedby="table showing general information about future trips">
  <thead>
    <tr>
      <th>Trip Name</th>
      <th>Trip Origin</th>
      <th>Trip Destination</th>
      <th>Trip Manager</th>
      <th>Passengers</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Origin Weather</th>
      <th>Destination Weather</th>
    </tr>
  </thead>

  <tbody>
  <tr *ngFor="let row of futureTrips"  class="clickRow">
    <td (click)="openTrip(row)">{{row.tripName}}</td>
    <td (click)="openTrip(row)">{{row.origin}}</td>
    <td (click)="openTrip(row)">{{row.destination}}</td>
    <td (click)="openTrip(row)">{{row.manager?.firstName + " " + row.manager?.lastName}}</td>
    <td (click)="openTrip(row)"><ng-container *ngFor="let pass of row.passengers; let i = index">
      {{pass.firstName}} {{pass.lastName}}<ng-container *ngIf="!(i == row.passengers.length-1)">,</ng-container>
    </ng-container></td>
    <td (click)="openTrip(row)">{{row.startTime | date:'medium'}}</td>
    <td (click)="openTrip(row)">{{row.endTime | date:'medium'}}</td>
    <td><img src="assets/Weather_Icon/{{row.originIcon}}" class="img" (click)="open(content,row.origin,row.startTime)" alt="an icon showing the weather from origin"></td>
    <td><img src="assets/Weather_Icon/{{row.destinationIcon}}" class="img" (click)="open2(content,row.destination,row.endTime)" alt="an icon showing the weather from destination"></td>
  </tr>
</tbody>
</table>
</div>

<br><br>
<h2>Past Trips</h2>
<div class="table-responsive">
<table class="center table" table cellpadding="10" aria-describedby="table showing general info about past trips">
  <thead>
    <tr>
      <th>Trip Name</th>
      <th>Trip Origin</th>
      <th>Trip Destination</th>
      <th>Trip Manager</th>
      <th>Passengers</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of pastTrips" class="clickRow">
    <td (click)="openTrip(row)">{{row.tripName}}</td>
    <td (click)="openTrip(row)">{{row.origin}}</td>
    <td (click)="openTrip(row)">{{row.destination}}</td>
    <td (click)="openTrip(row)">{{row.manager?.firstName + " " + row.manager?.lastName}}</td>
    <td (click)="openTrip(row)"><ng-container *ngFor="let pass of row.passengers; let i = index">
      {{pass.firstName}} {{pass.lastName}}<ng-container *ngIf="!(i == row.passengers.length-1)">,</ng-container>
    </ng-container></td>
    <td (click)="openTrip(row)">{{row.startTime | date:'medium'}}</td>
    <td (click)="openTrip(row)">{{row.endTime | date:'medium'}}</td>
  </tr>
  </tbody>
</table>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="center" id="modal-basic-title">Weather</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <img src="{{imageSrc}}" class="img" alt="an icon displaying the weather">
        <br><br>
        <table class="center" table cellpadding="20" table bordercolor="#FFFFFF" aria-describedby="table showing more weather information">
          <thead >
            <tr>
              <th>Trip_Location_Address</th>
              <th>Weather_Date</th>
              <th>Temperature (°F)</th>
              <th>Wind Speed (mph)</th>
              <th>Visibility (miles)</th>
              <th>Humidity</th>
              <th>Condition</th>
            </tr>
          </thead>
          <tbody id="table1" style="text-align:center">
          </tbody>
        </table>
        <br><br>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>

</ng-template>



