<h2>Current Trips</h2>
<table class="center" table cellpadding="10" table bordercolor="#ffffff">
  <thead>
    <tr>

      <th>Trip Id</th>
      <th>Trip Name</th>
      <th>Trip Origin</th>
      <th>Trip Destination</th>
      <th>Trip Manager</th>
      <th>Passengers</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Orgin Weather</th>
      <th>Destination Weather</th>

    </tr>
  </thead>
  
  <!-- populates table with datat from trips lists -->
  <tr *ngFor="let row of currentTrips"  class="clickRow">

    <td (click)="openTrip(row)">{{row.tripId}}</td>
    <td (click)="openTrip(row)" >{{row.tripName}}</td>
    <td (click)="openTrip(row)">{{row.origin}}</td>
    <td (click)="openTrip(row)">{{row.destination}}</td>
    <td (click)="openTrip(row)">{{row.manager?.firstName + " " + row.manager?.lastName}}</td>
    <td (click)="openTrip(row)">{{((row.passengers[0]?.firstName || '') + " " + (row.passengers[0]?.lastName || '')) + ", " +
      ((row.passengers[1]?.firstName || '') + " " + (row.passengers[1]?.lastName || '')) + ", " +
      ((row.passengers[2]?.firstName || '') + " " + (row.passengers[2]?.lastName || ''))}}</td>
    <td (click)="openTrip(row)">{{row.startTime | date:'medium'}}</td>
    <td (click)="openTrip(row)">{{row.endTime | date:'medium'}}</td>
    <td><button class="btn btn-lg btn-outline-primary" (click)="open(content,row.origin)">Weather</button></td>
    <td><button class="btn btn-lg btn-outline-primary" (click)="open2(content,row.destination)">Weather</button></td>
  </tr>
</table>
<br><br>

<h2>Future Trips</h2>
<table class="center" table cellpadding="10" table bordercolor="#ffffff">
  <thead>
    <tr>
      <th>Trip Id</th>
      <th>Trip Name</th>
      <th>Trip Origin</th>
      <th>Trip Destination</th>
      <th>Trip Manager</th>
      <th>Passengers</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Orgin Weather</th>
      <th>Destination Weather</th>
    </tr>
  </thead>
  <tr *ngFor="let row of futureTrips"  class="clickRow">
    <td (click)="openTrip(row)">{{row.tripId}}</td>
    <td (click)="openTrip(row)">{{row.tripName}}</td>
    <td (click)="openTrip(row)">{{row.origin}}</td>
    <td (click)="openTrip(row)">{{row.destination}}</td>
    <td (click)="openTrip(row)">{{row.manager?.firstName + " " + row.manager?.lastName}}</td>
    <td (click)="openTrip(row)">{{((row.passengers[0]?.firstName || '') + " " + (row.passengers[0]?.lastName || '')) + ", " +
      ((row.passengers[1]?.firstName || '') + " " + (row.passengers[1]?.lastName || '')) + ", " +
      ((row.passengers[2]?.firstName || '') + " " + (row.passengers[2]?.lastName || ''))}}</td>
    <td (click)="openTrip(row)">{{row.startTime | date:'medium'}}</td>
    <td (click)="openTrip(row)">{{row.endTime | date:'medium'}}</td>
    <td><button class="btn btn-lg btn-outline-primary" (click)="open(content,row.origin)">Weather</button></td>
    <td><button class="btn btn-lg btn-outline-primary" (click)="open2(content,row.destination)">Weather</button></td>
  </tr>
</table>

<h2>Past Trips</h2>
<table class="center" table cellpadding="10" table bordercolor="#ffffff">
  <thead>
    <tr>

      <th>Trip Id</th>
      <th>Trip Name</th>
      <th>Trip Origin</th>
      <th>Trip Destination</th>
      <th>Trip Manager</th>
      <th>Passengers</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Orgin Weather</th>
      <th>Destination Weather</th>
    </tr>
  </thead>
  <tr *ngFor="let row of pastTrips" class="clickRow">
    <td (click)="openTrip(row)">{{row.tripId}}</td>
    <td (click)="openTrip(row)">{{row.tripName}}</td>
    <td (click)="openTrip(row)">{{row.origin}}</td>
    <td (click)="openTrip(row)">{{row.destination}}</td>
    <td (click)="openTrip(row)">{{row.manager?.firstName + " " + row.manager?.lastName}}</td>
    <td (click)="openTrip(row)">{{((row.passengers[0]?.firstName || '') + " " + (row.passengers[0]?.lastName || '')) + ", " +
      ((row.passengers[1]?.firstName || '') + " " + (row.passengers[1]?.lastName || '')) + ", " +
      ((row.passengers[2]?.firstName || '') + " " + (row.passengers[2]?.lastName || ''))}}</td>
    <td (click)="openTrip(row)">{{row.startTime | date:'medium'}}</td>
    <td (click)="openTrip(row)">{{row.endTime | date:'medium'}}</td>
    <td><button class="btn btn-lg btn-outline-primary" (click)="open(content,row.origin)">Weather</button></td>
    <td><button class="btn btn-lg btn-outline-primary" (click)="open2(content,row.destination)">Weather</button></td>
  </tr>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="center" id="modal-basic-title">Weather</h4>

  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <table class="center" table cellpadding="20" table bordercolor="#ffffff">
          <thead>
            <tr>
              <th>Location</th>
              <th>Date</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Condition</th>
            </tr>
          </thead>
          <tbody id="table1">
          </tbody>
        </table>
        <br><br>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>