
.jumbotron {
   
    color:whitesmoke;
    background-color:rgb(35, 68, 167);
}

.jumbotron h1{
    display:inline-block;
    align-content: center;
}
.jumbotron image {
    width: 120px;
    height: 80px;
    vertical-align: middle;
    display:inline;
}