
.banner {
    color:whitesmoke;
    background-color:rgb(35, 68, 167);
}

.banner image {
    width: 120px;
    height: 80px;
}

.profile-pic {
    height: 70px;
    width: 70px;
    float: right;
    margin: 3px;
  }