/* html{
    padding: 1.5%;
    margin :0%;
    background-image: linear-gradient(45deg,blue,red);
    min-height:100%;
} */

.jumbotron {
   
    /* background-image: linear-gradient(45deg,rgb(9, 88, 9), rgb(15, 117, 15) ); */
    color:whitesmoke;
    /* background-color: rgb(9, 88, 9); */
    background-color:rgb(35, 68, 167);
    /* border-bottom: 2px solid black; */
}

.jumbotron h1{
    display:inline-block;
    /* text-align:center; */
    align-content: center;
}
.jumbotron image {
    width: 120px;
    height: 80px;
    vertical-align: middle;
    display:inline;
}