.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#MyTrip {
height: 100%;
display: flex;
align-items: center;
padding-top: 0px;
padding-bottom: 40px;
}
#tables {
height: 100%;
align-items: center;
padding-top: 0px;
padding-bottom: 40px;
}


#MyStops {
height: 100%;
display: flex;
align-items: center;
padding-top: 0px;
padding-bottom: 40px;
}



#MyTripPass {
height: 100%;
display: flex;
align-items: center;
padding-top: 0px;
padding-bottom: 40px;
}


table, th, td, thead, tbody, tr {
border: 1px solid black;
border-collapse: collapse;
}

table{
width: 50%;
margin-left: auto;
margin-right: auto;
}

th{
height: 60px;
background-color: rgb(68, 68, 68);
color: white;
}

tr:nth-child(even) {background-color: darkgray;}

label {
display: block;
font: 1rem 'Fira Sans', sans-serif;
color: grey
}

input,
label {
margin: .4rem 0;
}

select {
width: 100%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
} 

input {
width: 100%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
} 

input.is-invalid{
border-color: red;
}

input.is-untouched{
border-color: #ced4da;
}

select.is-invalid{
border-color: red;
}

.clickRow:hover { 
background: rgb(201, 201, 201);
cursor: pointer
}

/*Modal styling*/
.tableFriends
{
margin-left: auto;
margin-right: auto;
}
.tablePassengers
{
margin-left: auto;
margin-right: auto;
}
.modal-body {
display: flex;
}
.center {
flex-grow: 1;
margin: 0px
}
#tableNone{
border: none;
width:100%
}
#rowNone{
border: none;
}
#tdNone {
border: none;
background-color: white;
}
#thNone{
border: none;
}
#tdNone:hover { 
background: rgb(201, 201, 201);
cursor: pointer
}

.container{
display: flex;
justify-content: space-evenly;

}